Android/gen/com/actionbarsherlock/R.java
Android/gen/com/google/android/gms/R.java
Android/gen/com/slidingmenu/lib/R.java
Android/gen/com/sp/norsesquare/froyo/BuildConfig.java
Android/gen/com/sp/norsesquare/froyo/Manifest.java
Android/gen/com/sp/norsesquare/froyo/R.java
