@charset "utf-8";
/* CSS Document */


/* ----- GLOBAL STYLES ----- */
body {
	background-color:#b9b9bb;
	width:100%;
	min-height:90%;
	font-size:12px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0;
}

#mainPageContainer {
	background-color:#8c8d8f;
	width:98%;
	min-height:80%;
	margin: 0 1% 1% 1%;
	overflow:hidden;
}
/* ----- HEADER STYLES ----- */
#header {
	height:10%;
	margin:10px
}

#norseSquareLogo {
	float:left;
	margin:25px 0px 0px 70px;
	clear:both;
}

/* ----- MAIN STYLES ----- */
.map {
	width: 70%;
	height: 600px; 
	float:left;
	padding:0 0 25px 25px;	
}
.toggleBut button {
	float:right;
	width: 1%;
	height: 85%;
	padding: 0;
		
}
.extend-map {
	width: 98.9%;
}

#personal-status {
	width:100%;
	height: 75px;
	background-color: #f7f7f7;	
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.personal-image img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	position: absolute;
	top: 12px;
	left: 12px;
}
.personal-text .name {
	position: absolute;
	top: 15px;
	left: 80px;
	font-size: 20px;
	font-weight: bold;
	color: blue;
}
.personal-text .ui-icon-clock {
	position: absolute;
	top: 45px;
	left: 150px;	
}
.personal-text .ui-icon-flag {
	position: absolute;
	top: 45px;
	left: 80px;	
}
.personal-text .location {
	position: absolute;
	top: 45px;
	left: 96px;
	font-size: 12px;
	color: blue;
}
.personal-text .check-in-date {
	position: absolute;
	top: 45px;
	left: 168px;
	font-size: 12px;
	color: blue;
}
#check-in-button {
	position: absolute;
	top: 25px;
	right: 25px;
}
#check-in-button .ui-button-icon-primary {
   display:table-cell;
   vertical-align: middle;
   text-align: center;
   float: none;
}
#check-in-button .ui-button-text {
	text-align:center;
	float: none;	
}

/* ----- TAB STYLES ----- */
#tabs {
	width: 25%;
	min-height: 82%;
	max-height: 82%;
	float: right;	
}
.profile-image img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	position: absolute;
	top: 12px;
	left: 12px;
		
}
.list-item {
	position:relative;
	width:100%;
	height:75px;
	background-color:#fff;
	border-bottom: 1px solid #e8e8e8;	
}
.list-item:hover {
	background-color:#f7f7f7
}
.list-item-text .name {
	position: absolute;
	top: 15px;
	left: 80px;
	font-size: 20px;
	font-weight: bold;
	color: blue;
}
.list-item-text .ui-icon-clock {
	position: absolute;
	top: 45px;
	left: 150px;	
}
.list-item-text .ui-icon-flag {
	position: absolute;
	top: 45px;
	left: 80px;	
}
.list-item-text .location {
	position: absolute;
	top: 45px;
	left: 96px;
	font-size: 12px;
	color: blue;
}
.list-item-text .check-in-date {
	position: absolute;
	top: 45px;
	left: 168px;
	font-size: 12px;
	color: blue;
}
.right-button-icon {
	position: absolute;
	top: 25px;
	right: 25px;
	border-radius: 7px;
}
.right-button-icon .ui-button-icon-primary {
	margin-top:6%;
	margin-left:6;	
}

