@charset "utf-8";
/* CSS Document */


/* ----- GLOBAL STYLES ----- */
body {
	background-color:#ee979a;
	width:100%;
	min-height:100%;
	font-size:12px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0;
}

#mainPageContainer {
	background-color:#208e22;
	width:100%;
	min-height:100%;
	overflow:hidden;
}

/* ----- HEADER STYLES ----- */
#header {
	height:150px;
}

#norseSquareLogo {
	float:left;
	margin:30px 0px 0px 70px;
	clear:both;
}

/* ----- MAIN STYLES ----- */
.map {
	width: 70%;
	height: 600px; 
	float:left;
	padding:0 0 25px 25px;
	border-style:solid;
	border-color: 1f1ffd;	
}
#tabs {
	width: 25%;
	padding:0 25px 25px 0;
	float: right;
	border-style:solid;
	border-color: 1f1ffd;
	collapsible: true;	
}
.extend-map {
	width: 100%;
}
